aslfkasm

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

In [4]:
df2 = df.copy()
df2

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

In [5]:
df2['age_cat'] = pd.qcut(df2['dob_years'],3,['молодежь','средний возраст','пожилые'])
df2['education'] = df2['education'].str.lower()
df2

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_cat
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,средний возраст
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,молодежь
2,0,-5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,молодежь
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,молодежь
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,пожилые
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем,средний возраст
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем,пожилые
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость,средний возраст
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля,средний возраст
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля,средний возраст

In [6]:
df2['total_income']=round(df2['total_income'])
df2.groupby(['age_cat','education','income_type'])['total_income'].transform('median').dropna().drop_duplicates().sort_values().reset_index(drop=1)

0      43846.0
1      53829.0
2      59957.0
3      79433.0
4      88368.0
5      97962.0
6      98202.0
7     102599.0
8     104293.0
9     111392.0
10    114199.0
11    122707.0
12    123204.5
13    125995.0
14    130600.0
15    131456.0
16    132603.5
17    134190.0
18    134278.0
19    136791.0
20    138856.0
21    140219.0
22    142476.0
23    143377.0
24    144163.5
25    146030.0
26    155080.0
27    156490.0
28    156596.0
29    157260.0
30    158605.0
31    163454.0
32    163631.5
33    163665.0
34    165269.0
35    166173.0
36    170694.0
37    172131.0
38    172234.0
39    174902.5
40    175920.0
41    177088.5
42    183213.0
43    184776.0
44    190966.5
45    195416.5
46    202723.0
47    205635.0
48    206711.0
49    213765.0
50    215453.5
51    218111.5
52    268411.0
53    281769.5
54    499163.0
Name: total_income, dtype: float64

In [44]:
df2.groupby(['age_cat','education','income_type'])['total_income'].apply(lambda x: x.fillna(x.median())).dropna().drop_duplicates()

c:\users\sazon\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1117: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

0        253876.0
1        112080.0
2        145886.0
3        267629.0
4        158616.0
           ...
21520    224792.0
21521    156000.0
21522     89673.0
21523    244093.0
21524     82047.0
Name: total_income, Length: 18611, dtype: float64

In [76]:
18611 - (df2['total_income'].isna().count() - df2['total_income'].isna().sum() - df2[df2['total_income'].duplicated()]['total_income'].count())

22

In [47]:
df2.groupby(['income_type','age_cat', 'education'])['total_income'].apply(lambda x: x.fillna(x.median())).drop_duplicates().reset_index(drop=1)

c:\users\sazon\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\nanfunctions.py:1117: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

0        253876.0
1        112080.0
2        145886.0
3        267629.0
4        158616.0
           ...
18607    224792.0
18608    156000.0
18609     89673.0
18610    244093.0
18611     82047.0
Name: total_income, Length: 18612, dtype: float64

In [48]:
df2.groupby(['age_cat','education','income_type'])['total_income'].fillna(df2.groupby(['age_cat','education','income_type'])['total_income'].transform('median')).drop_duplicates().reset_index(drop=1)

0        253876.0
1        112080.0
2        145886.0
3        267629.0
4        158616.0
           ...
18607    224792.0
18608    156000.0
18609     89673.0
18610    244093.0
18611     82047.0
Name: total_income, Length: 18612, dtype: float64

In [36]:
df2.groupby(['age_cat','income_type','education'])['total_income'].median().dropna().sort_values()

age_cat          income_type      education
средний возраст  пенсионер        неоконченное высшее     43846.0
                 в декрете        среднее                 53829.0
молодежь         безработный      среднее                 59957.0
пожилые          госслужащий      начальное               79433.0
молодежь         пенсионер        начальное               88368.0
                                  среднее                 97962.0
                 студент          высшее                  98202.0
пожилые          пенсионер        начальное              102599.0
средний возраст  пенсионер        начальное              104293.0
молодежь         госслужащий      ученая степень         111392.0
пожилые          пенсионер        среднее                114199.0
                                  неоконченное высшее    122707.0
средний возраст  сотрудник        начальное              123204.5
молодежь         сотрудник        начальное              125995.0
пожилые          сотрудник        начальное              130600.0
молодежь         компаньон        начальное              131456.0
                 сотрудник        среднее                132603.5
средний возраст  госслужащий      среднее                134190.0
                 пенсионер        среднее                134278.0
пожилые          сотрудник        среднее                136791.0
средний возраст  сотрудник        среднее                138856.0
молодежь         госслужащий      среднее                140219.0
пожилые          пенсионер        высшее                 142476.0
                 госслужащий      среднее                143377.0
                 компаньон        начальное              144163.5
молодежь         сотрудник        неоконченное высшее    146030.0
                 госслужащий      неоконченное высшее    155080.0
пожилые          компаньон        среднее                156490.0
молодежь         компаньон        среднее                156596.0
средний возраст  сотрудник        ученая степень         157260.0
молодежь         сотрудник        высшее                 158605.0
средний возраст  компаньон        среднее                163454.0
молодежь         пенсионер        высшее                 163631.5
                 госслужащий      высшее                 163665.0
                 компаньон        неоконченное высшее    165269.0
средний возраст  госслужащий      неоконченное высшее    166173.0
                 сотрудник        высшее                 170694.0
пожилые          сотрудник        неоконченное высшее    172131.0
средний возраст  сотрудник        неоконченное высшее    172234.0
пожилые          сотрудник        высшее                 174902.5
средний возраст  госслужащий      высшее                 175920.0
пожилые          пенсионер        ученая степень         177088.5
                 госслужащий      высшее                 183213.0
средний возраст  компаньон        начальное              184776.0
молодежь         госслужащий      начальное              190966.5
                 компаньон        высшее                 195416.5
средний возраст  безработный      высшее                 202723.0
                 пенсионер        высшее                 205635.0
пожилые          компаньон        неоконченное высшее    206711.0
средний возраст  компаньон        высшее                 213765.0
                                  неоконченное высшее    215453.5
пожилые          компаньон        высшее                 218111.5
                 сотрудник        ученая степень         268411.0
средний возраст  госслужащий      начальное              281769.5
молодежь         предприниматель  высшее                 499163.0
Name: total_income, dtype: float64